@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap'); 

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}

.heading{
  font-size: 40px;
  color: #fff;
  margin: 40px 0;
  z-index: 1;
  text-align: center;
}

/* width가 800px 보다 작은 경우 */
@media (max-width: 800px){
  .heading{
    margin: 20px 0;
    font-size: 35px;
  }
}